<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monster.zhaqsq.dao.CallListMapper">
  <resultMap id="BaseResultMap" type="com.monster.zhaqsq.bean.CallList">
    <id column="call_id" jdbcType="INTEGER" property="callId" />
    <result column="sub_id" jdbcType="INTEGER" property="subId" />
    <result column="sub_time" jdbcType="TIMESTAMP" property="subTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="call_title" jdbcType="VARCHAR" property="callTitle" />
    <result column="call_desp" jdbcType="VARCHAR" property="callDesp" />
    <result column="call_money" jdbcType="INTEGER" property="callMoney" />
    <result column="call_now" jdbcType="CHAR" property="callNow" />
    <result column="rec_id" jdbcType="INTEGER" property="recId" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="rec_name" jdbcType="VARCHAR" property="recName" />
    <result column="call_address" jdbcType="VARCHAR" property="callAddress" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    call_id, sub_id, sub_time, end_time, call_title, call_desp, call_money, call_now, 
    rec_id, sub_name, rec_name, call_address
  </sql>
  <select id="selectByExample" parameterType="com.monster.zhaqsq.bean.CallListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_calllist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_calllist
    where call_id = #{callId,jdbcType=INTEGER}
  </select>
  
      
  <!-- 更新接收人-->
  <update id="updateRec">
  	update tbl_calllist
  	set rec_id = #{recId,jdbcType=INTEGER},
  	rec_name = #{recName,jdbcType=VARCHAR}
  	where call_id = #{callId,jdbcType=INTEGER};
  </update>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_calllist
    where call_id = #{callId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.monster.zhaqsq.bean.CallListExample">
    delete from tbl_calllist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.monster.zhaqsq.bean.CallList">
    insert into tbl_calllist (call_id, sub_id, sub_time, 
      end_time, call_title, call_desp, 
      call_money, call_now, rec_id, 
      sub_name, rec_name, call_address
      )
    values (#{callId,jdbcType=INTEGER}, #{subId,jdbcType=INTEGER}, #{subTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{callTitle,jdbcType=VARCHAR}, #{callDesp,jdbcType=VARCHAR}, 
      #{callMoney,jdbcType=INTEGER}, #{callNow,jdbcType=CHAR}, #{recId,jdbcType=INTEGER}, 
      #{subName,jdbcType=VARCHAR}, #{recName,jdbcType=VARCHAR}, #{callAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.monster.zhaqsq.bean.CallList">
    insert into tbl_calllist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="callId != null">
        call_id,
      </if>
      <if test="subId != null">
        sub_id,
      </if>
      <if test="subTime != null">
        sub_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="callTitle != null">
        call_title,
      </if>
      <if test="callDesp != null">
        call_desp,
      </if>
      <if test="callMoney != null">
        call_money,
      </if>
      <if test="callNow != null">
        call_now,
      </if>
      <if test="recId != null">
        rec_id,
      </if>
      <if test="subName != null">
        sub_name,
      </if>
      <if test="recName != null">
        rec_name,
      </if>
      <if test="callAddress != null">
        call_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="callId != null">
        #{callId,jdbcType=INTEGER},
      </if>
      <if test="subId != null">
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="subTime != null">
        #{subTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callTitle != null">
        #{callTitle,jdbcType=VARCHAR},
      </if>
      <if test="callDesp != null">
        #{callDesp,jdbcType=VARCHAR},
      </if>
      <if test="callMoney != null">
        #{callMoney,jdbcType=INTEGER},
      </if>
      <if test="callNow != null">
        #{callNow,jdbcType=CHAR},
      </if>
      <if test="recId != null">
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="subName != null">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="recName != null">
        #{recName,jdbcType=VARCHAR},
      </if>
      <if test="callAddress != null">
        #{callAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.monster.zhaqsq.bean.CallListExample" resultType="java.lang.Long">
    select count(*) from tbl_calllist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_calllist
    <set>
      <if test="record.callId != null">
        call_id = #{record.callId,jdbcType=INTEGER},
      </if>
      <if test="record.subId != null">
        sub_id = #{record.subId,jdbcType=INTEGER},
      </if>
      <if test="record.subTime != null">
        sub_time = #{record.subTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callTitle != null">
        call_title = #{record.callTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.callDesp != null">
        call_desp = #{record.callDesp,jdbcType=VARCHAR},
      </if>
      <if test="record.callMoney != null">
        call_money = #{record.callMoney,jdbcType=INTEGER},
      </if>
      <if test="record.callNow != null">
        call_now = #{record.callNow,jdbcType=CHAR},
      </if>
      <if test="record.recId != null">
        rec_id = #{record.recId,jdbcType=INTEGER},
      </if>
      <if test="record.subName != null">
        sub_name = #{record.subName,jdbcType=VARCHAR},
      </if>
      <if test="record.recName != null">
        rec_name = #{record.recName,jdbcType=VARCHAR},
      </if>
      <if test="record.callAddress != null">
        call_address = #{record.callAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_calllist
    set call_id = #{record.callId,jdbcType=INTEGER},
      sub_id = #{record.subId,jdbcType=INTEGER},
      sub_time = #{record.subTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      call_title = #{record.callTitle,jdbcType=VARCHAR},
      call_desp = #{record.callDesp,jdbcType=VARCHAR},
      call_money = #{record.callMoney,jdbcType=INTEGER},
      call_now = #{record.callNow,jdbcType=CHAR},
      rec_id = #{record.recId,jdbcType=INTEGER},
      sub_name = #{record.subName,jdbcType=VARCHAR},
      rec_name = #{record.recName,jdbcType=VARCHAR},
      call_address = #{record.callAddress,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
    <update id="updateTimeByPrimaryKeySelective" parameterType="com.monster.zhaqsq.bean.CallList">
    update tbl_calllist
    <set>
      <if test="subTime != null">
        sub_time = #{subTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where call_id = #{callId,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.monster.zhaqsq.bean.CallList">
    update tbl_calllist
    <set>
      <if test="subId != null">
        sub_id = #{subId,jdbcType=INTEGER},
      </if>
      <if test="subTime != null">
        sub_time = #{subTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callTitle != null">
        call_title = #{callTitle,jdbcType=VARCHAR},
      </if>
      <if test="callDesp != null">
        call_desp = #{callDesp,jdbcType=VARCHAR},
      </if>
      <if test="callMoney != null">
        call_money = #{callMoney,jdbcType=INTEGER},
      </if>
      <if test="callNow != null">
        call_now = #{callNow,jdbcType=CHAR},
      </if>
      <if test="recId != null">
        rec_id = #{recId,jdbcType=INTEGER},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="recName != null">
        rec_name = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="callAddress != null">
        call_address = #{callAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where call_id = #{callId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.monster.zhaqsq.bean.CallList">
    update tbl_calllist
    set sub_id = #{subId,jdbcType=INTEGER},
      sub_time = #{subTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      call_title = #{callTitle,jdbcType=VARCHAR},
      call_desp = #{callDesp,jdbcType=VARCHAR},
      call_money = #{callMoney,jdbcType=INTEGER},
      call_now = #{callNow,jdbcType=CHAR},
      rec_id = #{recId,jdbcType=INTEGER},
      sub_name = #{subName,jdbcType=VARCHAR},
      rec_name = #{recName,jdbcType=VARCHAR},
      call_address = #{callAddress,jdbcType=VARCHAR}
    where call_id = #{callId,jdbcType=INTEGER}
  </update>
</mapper>