<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monster.zhaqsq.dao.CommunityBasicMapper">
  <resultMap id="BaseResultMap" type="com.monster.zhaqsq.bean.CommunityBasic">
    <id column="com_id" jdbcType="INTEGER" property="comId" />
    <result column="com_title" jdbcType="VARCHAR" property="comTitle" />
    <result column="com_category" jdbcType="VARCHAR" property="comCategory" />
    <result column="com_number" jdbcType="INTEGER" property="comNumber" />
    <result column="com_desp" jdbcType="VARCHAR" property="comDesp" />
    <result column="com_address" jdbcType="VARCHAR" property="comAddress" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.monster.zhaqsq.bean.CommunityBasic">
    <result column="com_picture" jdbcType="LONGVARBINARY" property="comPicture" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    com_id, com_title, com_category, com_number, com_desp, com_address
  </sql>
  <sql id="Blob_Column_List">
    com_picture
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.monster.zhaqsq.bean.CommunityBasicExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_communitybasic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.monster.zhaqsq.bean.CommunityBasicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_communitybasic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_communitybasic
    where com_id = #{comId,jdbcType=INTEGER}
  </select>
  
  <select id="selectLikeByTitle" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_communitybasic
    where com_title LIKE concat('%',#{comTitle,jdbcType=VARCHAR},'%')
    order by case when com_title LIKE  concat(#{comTitle,jdbcType=VARCHAR},'%') then 1 else 0 end desc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_communitybasic
    where com_id = #{comId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.monster.zhaqsq.bean.CommunityBasicExample">
    delete from tbl_communitybasic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <!-- 根据comTitle查询 -->
  <select id="selectByComtitle" resultMap="ResultMapWithBLOBs">
  	SELECT 
  	<include refid="Base_Column_List" />
  	 ,
    <include refid="Blob_Column_List" />
  	FROM tbl_communitybasic
  	WHERE com_title = #{comTitle,jdbcType=VARCHAR}
  </select>
  
  
  <insert id="insert" parameterType="com.monster.zhaqsq.bean.CommunityBasic">
    insert into tbl_communitybasic (com_id, com_title, com_category, 
      com_number, com_desp, com_address, 
      com_picture)
    values (#{comId,jdbcType=INTEGER}, #{comTitle,jdbcType=VARCHAR}, #{comCategory,jdbcType=VARCHAR}, 
      #{comNumber,jdbcType=INTEGER}, #{comDesp,jdbcType=VARCHAR}, #{comAddress,jdbcType=VARCHAR}, 
      #{comPicture,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.monster.zhaqsq.bean.CommunityBasic">
    insert into tbl_communitybasic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comId != null">
        com_id,
      </if>
      <if test="comTitle != null">
        com_title,
      </if>
      <if test="comCategory != null">
        com_category,
      </if>
      <if test="comNumber != null">
        com_number,
      </if>
      <if test="comDesp != null">
        com_desp,
      </if>
      <if test="comAddress != null">
        com_address,
      </if>
      <if test="comPicture != null">
        com_picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comId != null">
        #{comId,jdbcType=INTEGER},
      </if>
      <if test="comTitle != null">
        #{comTitle,jdbcType=VARCHAR},
      </if>
      <if test="comCategory != null">
        #{comCategory,jdbcType=VARCHAR},
      </if>
      <if test="comNumber != null">
        #{comNumber,jdbcType=INTEGER},
      </if>
      <if test="comDesp != null">
        #{comDesp,jdbcType=VARCHAR},
      </if>
      <if test="comAddress != null">
        #{comAddress,jdbcType=VARCHAR},
      </if>
      <if test="comPicture != null">
        #{comPicture,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.monster.zhaqsq.bean.CommunityBasicExample" resultType="java.lang.Long">
    select count(*) from tbl_communitybasic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_communitybasic
    <set>
      <if test="record.comId != null">
        com_id = #{record.comId,jdbcType=INTEGER},
      </if>
      <if test="record.comTitle != null">
        com_title = #{record.comTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.comCategory != null">
        com_category = #{record.comCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.comNumber != null">
        com_number = #{record.comNumber,jdbcType=INTEGER},
      </if>
      <if test="record.comDesp != null">
        com_desp = #{record.comDesp,jdbcType=VARCHAR},
      </if>
      <if test="record.comAddress != null">
        com_address = #{record.comAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.comPicture != null">
        com_picture = #{record.comPicture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tbl_communitybasic
    set com_id = #{record.comId,jdbcType=INTEGER},
      com_title = #{record.comTitle,jdbcType=VARCHAR},
      com_category = #{record.comCategory,jdbcType=VARCHAR},
      com_number = #{record.comNumber,jdbcType=INTEGER},
      com_desp = #{record.comDesp,jdbcType=VARCHAR},
      com_address = #{record.comAddress,jdbcType=VARCHAR},
      com_picture = #{record.comPicture,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_communitybasic
    set com_id = #{record.comId,jdbcType=INTEGER},
      com_title = #{record.comTitle,jdbcType=VARCHAR},
      com_category = #{record.comCategory,jdbcType=VARCHAR},
      com_number = #{record.comNumber,jdbcType=INTEGER},
      com_desp = #{record.comDesp,jdbcType=VARCHAR},
      com_address = #{record.comAddress,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.monster.zhaqsq.bean.CommunityBasic">
    update tbl_communitybasic
    <set>
      <if test="comTitle != null">
        com_title = #{comTitle,jdbcType=VARCHAR},
      </if>
      <if test="comCategory != null">
        com_category = #{comCategory,jdbcType=VARCHAR},
      </if>
      <if test="comNumber != null">
        com_number = #{comNumber,jdbcType=INTEGER},
      </if>
      <if test="comDesp != null">
        com_desp = #{comDesp,jdbcType=VARCHAR},
      </if>
      <if test="comAddress != null">
        com_address = #{comAddress,jdbcType=VARCHAR},
      </if>
      <if test="comPicture != null">
        com_picture = #{comPicture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.monster.zhaqsq.bean.CommunityBasic">
    update tbl_communitybasic
    set com_title = #{comTitle,jdbcType=VARCHAR},
      com_category = #{comCategory,jdbcType=VARCHAR},
      com_number = #{comNumber,jdbcType=INTEGER},
      com_desp = #{comDesp,jdbcType=VARCHAR},
      com_address = #{comAddress,jdbcType=VARCHAR},
      com_picture = #{comPicture,jdbcType=LONGVARBINARY}
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.monster.zhaqsq.bean.CommunityBasic">
    update tbl_communitybasic
    set com_title = #{comTitle,jdbcType=VARCHAR},
      com_category = #{comCategory,jdbcType=VARCHAR},
      com_number = #{comNumber,jdbcType=INTEGER},
      com_desp = #{comDesp,jdbcType=VARCHAR},
      com_address = #{comAddress,jdbcType=VARCHAR}
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
</mapper>